@model List<MovieModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align:center">
    <form method="post" asp-action="MovieNight">
        <label for="title1">Enter First Movie Title:</label>
        <input type="text" name="title1" id="title1" /><br />
        <label for="title2">Enter Second Movie Title:</label>
        <input type="text" name="title2" id="title2" /><br />
        <label for="title3">Enter Third Movie Title:</label>
        <input type="text" name="title3" id="title3" /><br />
        <input type="submit" />
    </form>
</div>
@if (Model != null)
{
    <div style="text-align:center">
        <h2>Movie Night List:</h2>
        @foreach (MovieModel m in Model)
        {
            <div>
                <h4>@m.Title</h4>
                <h4>@m.Genre</h4>
                <h5>@m.Rated @m.Runtime</h5>
                <img src="@m.Poster" />
                <h5>@m.Plot</h5>
            </div>
        }
    </div>
}